/* @import url(easy-autocomplete.css); */
@import url(normalize.css);
@import url(main.css);


body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    cursor: default;
    font-size: 87.5%;
}

/* helper classes */
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row [class*="col-"] {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 15px;
}

.col-1 {
    width: calc(8.33333%*1);
}

.col-2 {
    width: calc(8.33333%*2);
}

.col-3 {
    width: calc(8.33333%*3);
}

.col-4 {
    width: calc(8.33333%*4);
}

.col-5 {
    width: calc(8.33333%*5);
}

.col-6 {
    width: calc(8.33333%*6);
}

.col-7 {
    width: calc(8.33333%*7);
}

.col-8 {
    width: calc(8.33333%*8);
}

.col-9 {
    width: calc(8.33333%*9);
}

.col-10 {
    width: calc(8.33333%*10);
}

.col-11 {
    width: calc(8.33333%*11);
}

.col-12 {
    width: calc(8.33333%*12);
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}

/* END helper classes */

.top-header {
    width: 100%;
    position: relative;
    background: #fff;
    top: 0;
    box-shadow: 0 0px 7px 4px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo {
    color: #1889c3;
}

.logo p {
    font-size: 26px;
    margin: 16px 0;
}

.logo p span {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 6px;
}

.language-picker {
    color: #1889c3;
    margin: 25px 0;
    width: 90px;
}

.language-picker a {
    color: #1889c3;
    text-decoration: none;
}

.language-picker a:after {
    font-family: FontAwesome;
    content: "\f107";
    padding: 0 10px;
}

.particular {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
}

.particular-title {
    text-transform: uppercase;
    color: #030303;
    white-space: nowrap;
}

.particular-title h2 {
    font-size: 34px;
    font-weight: normal;
}

.form-wrapper {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    margin-top: 15px;
}

.form-wrapper .inner-form-wrapper {
    padding: 40px;
}

.inner-form-wrapper .input-code {
    display: flex;
}

.input-code-wrapper {
    margin-right: 15px;
}

.u-dise-code {
    padding-right: 100px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.input-wrapper {
    margin-bottom: 40px;
}

.input-wrapper span.help-icon {
    padding-left: 20px;
    color: #03b3e6;
    font-size: 24px;
    cursor: pointer;
}

.input-wrapper span.seprate {
    color: #999;
    margin-right: 10px;
}

.input-wrapper .validate {
    position: relative;
    float: right;
}

.input-wrapper .validate .correct,
.input-wrapper .validate .wrong {
    position: absolute;
}

.input-wrapper .validate .correct {
    /*display: none;*/
    z-index: 9;
}

.input-wrapper .validate .wrong {
    /*display: none;*/
}

.input-text {
    position: relative;
    width: calc(8.33333%*6 - 15px);
    margin-right: 15px;
    box-sizing: border-box;
}

.input-code-wrapper span {
    font-size: 14px;
    font-weight: lighter;
}

.input-text span.input-icon {
    position: absolute;
    bottom: 12px;
    right: 15px;
    font-size: 16px;
    color: #9d9d9d;
}

.input-code-wrapper input[type=number] {
    width: 65px;
    height: 40px;
    background: #f6f6f6;
    border: 0;
    border-bottom: 2px solid #cdcdcd;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    transition: 0.3s linear;
    transition-property: border-bottom;
}

.input-code-wrapper input[type=number]:last-child {
    border-right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.inner-form-wrapper input[type=number]:focus,
.inner-form-wrapper input[type=text]:focus {
    outline: 0;
    border-bottom-color: #1889c3;
    transition: 0.3s linear;
    transition-property: border-bottom;
}

.form-control {
    height: 40px;
    background: #f6f6f6;
    border: 0;
    border-bottom: 2px solid #cdcdcd;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.3s linear;
    transition-property: border-bottom;
}

.inner-form-wrapper input[type=text] {
    height: 40px;
    background: #f6f6f6;
    border: 0;
    border-bottom: 2px solid #cdcdcd;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.3s linear;
    transition-property: border-bottom;
}

.inner-form-wrapper .disabled-input {
    background-color: #e8e7e7 !important;
}

.location-radio label {
   display: inline-block;
   cursor: pointer;
   position: relative;
   font-size: 16px;
   width: 115px;
   padding: 10px 0;
   background-color: #f6f6f6;
   border-bottom: 2px solid #cdcdcd;
   text-align: center; 
}

.inner-form-wrapper input[type=radio] {
    display: none;
}

.inner-form-wrapper input[type=radio]:checked + label {
    color: #f3f3f3;
    text-align: center;
    line-height: 18px;
    background: #1889c3;
    border-bottom: 2px solid #166876;
}

.inner-form-wrapper .input-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
    display: block;
    border: 0;
    background: 0;
    text-align: left;
    padding: 0;
    width: 100%;
}

.section-title {
    color: #1889c3;
    font-weight: normal;
    font-size: 24px;
}

input.geo {
    font-family: FontAwesome;
    content: "\f107";
    padding: 0 10px;
    color: #000;
    z-index: 9;
}

.progress-block {
    width: 50%;
    min-height: 75px;
    margin-top: 40px;
}

.progressbar {
    margin: 0 20px 0;
    padding: 0;
    height: 13px;
    background-color: #d6d6d6;
    border-radius: 20px;
    list-style-type: none;
    position: relative;
    display: flex;
    -webkit-display: flex;
}

.progressbar li {
    position: relative;
    width: 33%;
}


.progressbar .progress-start {
    height: 9px;
    display: inline-block;
    transition: all .2s;
    position: absolute;
    margin: 0;
    top: 2px;
    background-color: #1889c3;
    left: 0;
    transition: .2s all;
    -webkit-transition: .2s all;
}

.progressbar .circle .sub-text {
    font-style: normal;
    position: absolute;
    bottom: -40px;
    left: -16px;
    font-size: 14px;
    width: 60px;
    color: #b5b5ba;
    text-align: center;
}

.progressbar li.progress-started .start .sub-text {
    color: #1889c3;
}

.progressbar li.progress-completed .start .sub-text,
.progressbar li.progress-completed .end .sub-text {
    color: #000;
}

.progressbar .progress-started .circle.start:before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #1889c3;
}


.progressbar .progress-started .circle.start:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: #fff;
}

.progressbar .progress-completed .circle {
    background-color: #1889c3;
}

.progressbar .circle {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: -10px;
    left: -26px;
    z-index: 3;
    background-color: #d6d6d6;
    border-radius: 50%;
}

.progressbar .circle.end {
    right: -16px;
    left: inherit;
}

.progressbar .progress-completed .circle.start:before,
.progressbar .progress-completed .circle.end:before {
    font-family: FontAwesome;
    content: "\f00c";
    padding: 0;
    color: #fff;
    z-index: 9;
    font-size: 14px;
    position: absolute;
    top: 7px;
    left: 9px;
}

.tooltip-help {
    display: inline-block;
    position: relative;
    width: 15%;
}

.tooltip {
    opacity: 0;
    position: absolute;
    border: 1px solid #1889c3;
    bottom: 10px;
    background-color: #fff;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    width: 150px;
    line-height: 1.3;
    left: -58px;
    color: #707070;
    border-radius: 5px;
    box-shadow: 0 3px 5px 2px rgb(214, 214, 214);
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tooltip:after, .tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip:before {
    border-color: rgba(24, 137, 195, 0);
    border-top-color: #1889c3;
    border-width: 11px;
    margin-left: -11px;
}

.help-icon:hover .tooltip {
    display: block;
    opacity: 1;
    bottom: 40px;
}


.languages {
    width: 100px;
    position: absolute;
    background: #fff;
    z-index: 999;
    padding: 0;
    top: 50px;
    box-shadow: 0px 1px 4px #9e9e9e;
    box-sizing: border-box;
    display: none;
    margin: 0;
}

.languages li {
    list-style: none;
}

.languages li a {
    width: 100%;
    float: left;
    padding: 5px 10px;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
}

.languages li a:hover {
    background-color: #31aae8;
    color: #fff;
}

.languages li a:after {
    display: none;
}

.languages li a.active {
    background-color: #1889c3;
    color: #fff;
}

.school-particular-page .row {
    padding-right: 100px;
    position: relative;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.row .field-status-icon {
    position: absolute;
    top: 35px;
    right: 50px;
}

.field-error {
    color: red;
    margin-bottom: 0;
    width: 100%;
    display: none;
}

label[data-lang] {
    color: rgba(0, 0, 0, .7);
}

label .star {
    color: red;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    font-weight: bold;
}

.success-icon {
    background: url('../images/yes.png') center center no-repeat;
    width: 45px;
    height: 42px;
    display: inline-block;
}

.error-icon {
    background: url('../images/no.png') center center no-repeat;
    width: 45px;
    height: 42px;
    display: inline-block;
}


.action {
    margin-top: 70px;
}

.btn {
  display: inline-block;
  padding: 6px 24px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  font-weight: 700; 
  border-bottom: 2px solid #166876;
}

.btn-primary {
  background: #1889c3;
  color: #fff;
}

.btn-primary:hover {
    background: #2493cc;
}

.action .btn-primary {
    font-size: 22px;
    font-weight: bold;
}

.btn-success {
  background-color: #26bc9d;
}

.action .btn-primary .next-icon {
    margin-left: 50px;
}

.contact-numbers .mobile-number {
    margin-top: 20px;
    width: 100%;
}


